ollama
langchain
langchain-community
langchain-experimental
langchain-ollama
langchain-openai
pandas
openpyxl
tabulate
fastapi
uvicorn
python-multipart
jinja2
numpy
scikit-learn
matplotlib
gunicorn
psycopg2-binary

-e .